{% extends "base.html" %}

{% block content_header %}
<h1>项目总览<small>我负责的项目</small></h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">项目总览</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
              <!--
                <h3 class="box-title">Ｍy Project</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="box-body">
                <table id="main-table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>项目编号</th>
                        <th>客户名称</th>
                        <th>创建时间</th>
                        <th>项目详情</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% comment %}
                    {% for project in all_projects %}
                    <tr>
                        <td>{{project.id}}</td>
                        <td>{{project.project_number}}</td>
                        <td>{{project.cust_user}}</td>
                        <td>{{project.create_time}}</td>
                        <td>{{project.status}}</td>
                    </tr>
                    {% endfor %}
                    {% endcomment %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_script %}
<script>
    $(document).ready(function(){
      {% comment %}
      /*
        $(".tree >li").removeClass('active');
        $("#all_project").addClass('active');
        $("#test").Tabledit({
          url: "{% url 'project_view' %}",
          columns: {
            identifier: [0, 'id'],
            editable: [[1, '项目编号'], [2, '客户名称'], [3,'创建时间'], [4, '状态'], [5,'备注']]
          },
          onDraw: function(){
            console.log('onDraw()');
          },
          onSuccess: function(data, textStatus, jqXHR) {
            console.log('onSuccess(data, textStatus, jqXHR)');
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
      },
          onFail: function(jqXHR, textStatus, errorThrown) {
            console.log('onFail(jqXHR, textStatus, errorThrown)');
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
      },
          onAlways: function() {
            console.log('onAlways()');
      },
          onAjax: function(action, serialize) {
            console.log('onAjax(action, serialize)');
            console.log(action);
      }
    })*/
    {% endcomment %}
      var table = $("#main-table").DataTable({
        "ajax": {
          url: "{% url 'show_project_master' %}",
          "type": "POST"
        },
        "columns": [
          {"data": "project_number"},
          {"data": "cust_user"},
          {"data": "create_time"},
          {"data": null}
        ],
        "columnDefs":[{
          "targets": -1,
          "data": null,
          "defaultContent": '<button class="btn btn-default btn-view">详情</button>'
        },{
          "targets": 1,
          render: function(data, type, row, meta){
            if(type==='display'){
              return $('<a>')
                      .attr('href','/lims_app/show_user_detail?user='+data)
                      .text(data)
                      .wrap('<div></div>')
                      .parent()
                      .html();
            }else{
              return data;
            }
          }
        }]
      });
      $("#main-table tbody").on('click', '.btn-view', function(e){
        var data = table.row($(this).parents('tr')).data();
        window.location.href = "/lims_app/show_project_detail?project_number=" + data['project_number'];
      });
      $("#all_project").addClass('active');
  });
</script>
{% endblock %}
