{% extends "base.html" %}

{% block content_header %}
<h1>样品接收</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'main' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">样品接收</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title" id="table_title">请选择项目</h3>

                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    选择项目 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="select_proj">
                      {% for key,value in proj_info %}
                          <li value="{{ key }}" onclick="select_project('{{ key }}', '{{ value }}')"><a>{{ value }}</a></li>
                      {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li onclick="select_project('{{ 0 }}', '我的所有项目')"><a>我负责的所有项目</a></li>
                  </ul>
                </div>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="sample_table">
                    <tr>
                        <th>样品编号</th>
                        <th>所属项目</th>
                        <th>快递编号</th>
                        <th>修改日期</th>
                        <th>样品备注</th>
                    </tr>

                    {% for n1,n2,n3,n4,n5,n6 in sample_info %}



                        <tr>
                            <td>n2</td><td>n3</td>
                            <td><a href="#" class="username" data-type="text">n4</a></td>
                            <td>n5</td>
                            <td>n6</td>
                        </tr>
                    {% endfor  %}
{#                    <tr>#}
{#                        <td>OMID-657</td>#}
{#                        <td>OMPJ-001</td>#}
{#                        <td>#}
{#                            <a href="#" class="username" data-type="text">111122233446</a>#}
{#                        </td>#}
{#                        <td>11-7-2014</td>#}
{#                        <!--<td><span class="label label-primary">Approved</span></td>-->#}
{#                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>OMID-175</td>#}
{#                        <td>OMPJ-001</td>#}
{#                        <td>#}
{#                            <a href="#" class="username" data-type="text">111122233446</a>#}
{#                        </td>#}
{#                        <td>11-7-2014</td>#}
{#                        <!--<td><span class="label label-danger">Denied</span></td>-->#}
{#                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>#}
{#                    </tr>#}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="static/css/bootstrap-editable.css">
{% endblock %}

{% block page_script %}
<script src="static/js/bootstrap-editable.js"></script>
<script src="static/js/main.js"></script>
<script>
    String.prototype.replaceAll = function (exp, newStr) {
        return this.replace(new RegExp(exp, "gm"), newStr);
    };

    String.prototype.format = function(args) {
        var result = this;
        if (arguments.length < 1) {
            return result;
        }

        var data = arguments; // 如果模板参数是数组
        if (arguments.length == 1 && typeof (args) == "object") {
            // 如果模板参数是对象
            data = args;
        }
        for ( var key in data) {
            var value = data[key];
            if (undefined != value) {
                result = result.replaceAll("\\{" + key + "\\}", value);
            }
        }
        return result;
    };


    $(document).ready(function(){
        $(".tree >li").removeClass('active');
        $("#receive_sample").addClass("active");
    });

    function select_project(key, value) {
{#        $("#table_title")[0].innerText = value;#}
{#        ajaxSend('get_sample_by_project', {'project_id': key}, function (sample_info) {#}
{#            $("#sample_table").children().remove();#}
{#            $("#sample_table").append("<tr><th>样品编号</th>" +#}
{#                "<th>所属项目</th><th>快递编号</th><th>修改日期</th><th>样品备注</th></tr>");#}
{#            var html = "<tr><td>{sample_id}</td>" +#}
{#                "<td>{proj_name}</td>" +#}
{#                "<td><a href='#' class='username' data-type='text'>{express}</a></td>" +#}
{#                "<td>{date}</td>" +#}
{#                "<td>{notes}</td></tr>";#}
{#            for(var i in sample_info) {#}
{#                var data = sample_info[i];#}
{#                $("#sample_table").append(html.format(data));#}
{#            }#}
{#        }, 'POST');#}
        window.location.href = '/lims_app/get_sample_by_project2';
    }

    $('.username').editable({
{#           url: '/post',#}
           type: 'text',
           pk: 1,
           name: 'username',
           title: '添加快递编号'
    });

</script>
{% endblock %}
