{% extends "base.html" %}

{% block content_header %}
<h1>样品接收</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'main' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">样品接收</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title" id="selected_proj">{{ select_proj }}</h3>

                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    选择项目 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="select_proj">
                      {% for key,value in proj_info %}
                          <li value="{{ key }}" onclick="select_project(this.value)"><a>{{ value }}</a></li>
                      {% endfor %}
                    <li role="separator" class="divider"></li>
                  </ul>
                </div>
                <button type="submit" class="btn btn-default" title="下载项目" data-toggle="popover" data-placement="top" data-content="你还没有当前下载项目编号!" onclick="download_project()">
                  下载送样结果
                </button>
                <input type="file" accept=" application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="upload_excel"/>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-responsive no-padding" id="sample_table">
                  <thead>
                    <tr>
                        <th>样品名称</th>
                        <th>快递编号</th>
                        <th>管数</th>
                        <th>修改日期</th>
                        <th>样品备注</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for n1,n2,n3,n4,n5,n6 in sample_info %}
                        <tr>
                            <td>{{ n2 }}</td>
                            <td>{{ n3 }}</td>
                            <td>{{ n4 }}</td>
                            <td>{{ n5 }}</td>
                            <td><a href="#" id="sample_id_{{ n1 }}" class="username" data-type="text">{{ n6 }}</a></td>
                        </tr>
                    {% endfor  %}
                  </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-header">
              <h3 class="box-title">上传项目附件</h3>
                <input name="file" type="file" value="选择" size="20" id="upload_attachment" onchange ="uploadFile()">
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">

              <table class="table table-bordered table-condensed">
                    <thead>
                        <tr><th>文件名称</th><th>上传时间</th><th>用户名称</th><th>操作</th></tr>
                    </thead>
                    <tbody id="project_files">
                        {% for n1,n2,n3 in all_attachment %}
                            <tr>
                                <td><a href='/lims_app/static/attachment/{{ project_id }}/receive_sample/{{ n1 }}'>{{ n1 }}</a></td>
                                <td>{{ n2 }}</td>
                                <td>{{ n3 }}</td>
                                <td><button onclick="delete_attachment(this, '{{ n1 }}')">删除</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

        </div>
        <!-- /.box -->
    </div>
</div>
{% endblock %}

{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileinput.css' %}">
{% endblock %}

{% block page_script %}
<script src="{% static 'js/bootstrap-editable.js' %}"></script>
<script src="{% static 'js/xlsx.core.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/ajaxfileupload.js' %}"></script>
<script>
    var project_id = "{{ project_id }}";
    var username = "{{ username }}";
    function select_project(project_id) {
        window.location.href = '/lims_app/receive_sample?project_id=' + project_id;
    }
    function download_project() {
      if($("#selected_proj").html().split('-')[0] == 'ONMATH'){
        project_number = $("#selected_proj").html();
        window.location.href = '/lims_app/down_sample_info?table=receive_sample&project_number=' + project_number;
      }else{
        $("[data-toggle='popover']").popover();
      }
    }

    $(function () {
        $("#receive_sample").addClass('active');
        var sample_table = $('#sample_table').DataTable();
        var attachment_table = $('#attachment_table').DataTable();
        $('.username').editable({
           url: '/lims_app/save_sample_info?table=receive_sample',
           type: 'text',
           pk: 1,
           name: this.id,
           title: '添加备注',
        });
    });

    $('#upload_excel').bind('change', function (e) {
        if (project_id == 0) {
            alert("请选择项目后再上传文件！");
            return;
        }
        var excel_json_data;
        var files = e.target.files;
        var i,f;
        for (i = 0, f = files[i]; i != files.length; ++i) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var data = e.target.result;
                var workbook = XLSX.read(data, {type: 'binary'});
                var sheet_name_list = workbook.SheetNames;
                sheet_name_list.forEach(function(y) {
                excel_json_data = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
                //todo 这里检查json数据是否符合规范， title是否对上， 如果 不符合规范， alert 相应信息
                var status = confirm("是否覆盖表格数据？");
                if(status) {
                        ajaxSend('/lims_app/save_table_data/', {'json_data': JSON.stringify(excel_json_data),
                            'project_id': project_id}, function(){}, 'POST')
                    }
                });
            };
            reader.readAsBinaryString(f);
        }
        $('#upload_excel').val('');
    });


    function delete_attachment(obj, file_name) {
        ajaxSend('/lims_app/delete_attachment', {'file_name': file_name,
            'project_id': project_id, 'file_type': 'receive_sample'
        }, function () {
            obj.parentNode.parentNode.remove();
        })
    }

    function uploadFile() {
        if (project_id == 0) {
            alert("请选择项目后再上传附件！");
            return;
        }
        var file_name = $('#upload_attachment').val();
        var url = "/lims_app/upload_attachment/?project_id=" +
            project_id + "&type=receive_sample&file_name=" +
            file_name;
        $.ajaxFileUpload({
            url : url,
            secureuri : false,
            fileElementId : "upload_attachment",
            dataType : 'json',
            success : function(data) //
            {
                $('#upload_attachment').val('');
                window.location.href = "/lims_app/receive_sample/?project_id=" + project_id;
                $("#project_files").append("<tr>" +
                    "<td><a href='/lims_app/static/attachment/"+ project_id +"/receive_sample/" +
                    file_name + "'>" + file_name + "</a></td>" +
                    "<td>"+ Date().toString() + "</td>" +
                    "<td>"+ username + "</td>"  +
                    "<td><button onclick='delete_attachment(this, \""+ file_name  +"\")'>删除</button></td>");
            },
            error : function(data){}
        });
        return false;
    }
</script>
{% endblock %}
