{% extends 'base.html' %}

{%block header_script %}
<meta charset="UTF-8">
<title></title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/ui.jqgrid.css" %}" />
<link rel="stylesheet" href="{% static "css/jquery-ui-1.8.16.custom.css" %}" />
<!--<script src="{% static "js/main.js" %}"></script> -->
{% endblock %}

{% block content_header %}
<h1>上传{{table_name}}结果</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'main' %}"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">上传数据</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="btn-group">
                  <button type="submit" class="btn btn-default add">增加行</button>
                  <button type="submit" class="btn btn-default edit">编辑行</button>
                  <button type="submit" class="btn btn-default del">删除行</button>
                  <button type="submit" class="btn btn-default save">保存表格</button>
                </div>
                <span class="help-block"><b>样品详细信息：（请填写下表，如果您的样品数量较多建议您填写电子版表格后直接上传）</b>
                  {% if table == 'quality_check' %}
                      <a href="{% static "download/quality_check.xlsx" %}" style="font-size: smaller ">点击下载模板</a>
                  {% elif table == 'build_lib' %}
                      <a href="{% static "download/build_lib.xlsx" %}" style="font-size: smaller ">点击下载模板</a>
                  {% elif table == 'upmachine' %}
                      <a href="{% static "download/upmachine.xlsx" %}" style="font-size: smaller ">点击下载模板</a>
                  {% elif table == 'downmachine' %}
                      <a href="{% static "download/downmachine.xlsx" %}" style="font-size: smaller ">点击下载模板</a>
                  {% elif table == 'send_sample' %}
                      <a href="{% static "download/send_sample.xlsx" %}" style="font-size: smaller ">点击下载模板</a>
                  {% elif table == 'return_sample' %}
                      <a href="{% static "download/return_sample.xlsx" %}" style="font-size: smaller ">点击下载模板</a>
                  {% endif %}
                  <input type="file" accept=" application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="upload_excel" />
                </span>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="table" class="table table-hover"></table>
              <button type="submit" class="btn btn-default" id="insert">导入数据</button>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
{% endblock %}
  <!-- <input type="button" class="del" value="删除行"/> -->
  {% block page_script %}
  <script type="text/javascript" src="{% static "js/jquery.jqGrid.src.js"%}"></script>
  <script type="text/javascript" src="{% static "js/grid.locale-cn.js" %}"></script>
  <script type="text/javascript" src="{% static "js/xlsx.core.min.js" %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% if table == 'quality_check' %}
    <script src="{% static 'js/quality_check.js' %}"></script>
  {% elif table == 'build_lib' %}
    <script src="{% static 'js/build_lib.js' %}"></script>
  {% elif table == 'upmachine' %}
    <script src="{% static 'js/upmachine.js' %}"></script>
  {% elif table == 'downmachine' %}
    <script src="{% static 'js/downmachine.js' %}"></script>
  {% elif table == 'send_sample' %}
    <script src="{% static 'js/send_sample.js' %}"></script>
  {% elif table == 'return_sample' %}
    <script src="{% static 'js/return_sample.js' %}"></script>
  {% endif %}
  <script>
  /*
      $(document).ready(function(){
          $(".tree >li").removeClass('active');
          $("#receive_sample").addClass("active");
      });
  */
  var project_id = "{{ project_id }}";
  var table = "{{ table }}";

  var table_map  =  {'样品编号':'sample_id',
                     '样品名称':'sample_name',
                     '项目编号':'project_number',
                     '物种': 'species',
                     '快递编号': 'express_number',
                     '管数': 'product_num',
                     '浓度': 'concentration',
                     '体积': 'volume',
                     'RIN值': 'rin',
                     '判定结果': 'results',
                     '文库编号': 'lib_id',
                     '上机类型': 'upmachinetype',
                     '上机模式': 'mode',
                     '数据量': 'data_count',
                     'q20': 'q20',
                     'q30': 'q30',
                     '时间': 'time',
                     '备注': 'comment',
                     'OMID': 'om_id',
                     '所在地': 'location'}

  function save_sample_table() {
    var ids = $("#table").getDataIDs();
    for (var i in ids) {
      $("#table").saveRow(ids[i], '', '/lims_app/save_sample_row/');
    }
  }
  $('#upload_excel').bind('change', handleFile);

  $(".add").unbind().bind('click', function(){
    var jq_obj = $("#table");
    var ids= jq_obj.getDataIDs();
    var new_row_id = ids.length == 0 ? '1' : parseInt(ids[ids.length-1].replace(/[^0-9]/ig,""))+1;
    var id = jq_obj.jqGrid('getGridParam','selrow');
    if (id) {jq_obj.saveRow( id, '', '/lims_app/save_sample_row/');}
    jq_obj.addRowData(new_row_id, {});
    jq_obj.editRow(new_row_id);
    jq_obj.setSelection(new_row_id);
    current_input_row = new_row_id;
  });

  $(".edit").unbind().bind('click', function(){
    var id = $('#table').jqGrid('getGridParam','selrow');
    $("#table").jqGrid('editRow',id);
  });

  $(".del").unbind().bind('click', function(){
    var id = $('#table').jqGrid('getGridParam','selrow');
    if(id){
      $("#table").delRowData(id);
    }else{
      if(current_input_row) {
      $("#table").delRowData(current_input_row);
      }
      var ids= $("#table").getDataIDs();
      current_input_row = ids.length == 0 ? '1' : parseInt(ids[ids.length-1].replace(/[^0-9]/ig,""));
    }
  });

  $("#table").on('click', "input", function (){
    current_input_row = this.parentNode.parentNode.id;
  });

  $(".save").unbind().bind('click', function() {
    save_sample_table();
  });

  $("#insert").unbind().bind('click', function () {
    save_sample_table();
    var status = confirm("确认导入数据?");
    if (status) {
      var sample_table_data = $("#table").getRowData();
      var params = {'sample_table_data': JSON.stringify(sample_table_data), 'project_id': project_id, 'table': table}
      ajaxSend('/lims_app/save_sample_table/', params , function (data) {
          alert(data.msg);
          window.location.href="/lims_app/upload_sample_info?table={{table}}&project_id={{project_id}}";
        }, 'POST');
      }
    });
    $("#update").unbind().bind('click', function () {
      save_sample_table();
      var status = confirm("确认更新数据?");
      if (status) {
        var sample_table_data = $("#table").getRowData();
        var params = {'sample_table_data': JSON.stringify(sample_table_data), 'project_id': project_id, 'table': table}
        ajaxSend('/lims_app/save_sample_table/', params , function (data) {
            alert(data.msg);
            window.location.href="/lims_app/upload_sample_info?table={{table}}&project_id={{project_id}}";
          }, 'POST');
        }
      });
  function check_unique(arr){
    var n = [];
    for(var i = 0; i < arr.length; i++){
      if(n.indexOf(arr[i]) == -1) n.push(arr[i])
    }
    if(n.length != arr.length){
      alert('上传数据 omid 存在重复!');
      window.location.href = 'lims_app/upload_sample_info/?table={{table}}&proejct_id={{project_id}}';
    }
    return;
  }
  function handleFile(e) {
        var files = e.target.files;
        var i,f;
        for (i = 0, f = files[i]; i != files.length; ++i) {
            var reader = new FileReader();
            var name = f.name;
            reader.onload = function(e) {
                var data = e.target.result;

                var workbook = XLSX.read(data, {type: 'binary'});
                var sheet_name_list = workbook.SheetNames;
                var result = [];
                var headItem=[];
                var dataItem=[];
                var dataFormulae=[];
                var dataCsv=[];

                sheet_name_list.forEach(function(y) {
                    var worksheet = workbook.Sheets[y];
                    var json = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
                    var formulae = XLSX.utils.sheet_to_formulae(workbook.Sheets[y]);
                    var csv = XLSX.utils.sheet_to_formulae(workbook.Sheets[y]);
                    if(json.length > 0){
                        result=json;
                    }
                });
        var transform_json=[];
        var om_array = [];
                $.each(result,function (i,val) {
          var temp_obj={};
          for(value in table_map){
            if(val[value]){
              if(value == 'OMID'){
                om_array.push(val[value]);
              }
              temp_obj[table_map[value]] = val[value];
            }
          }
          transform_json.push(temp_obj);
                })
        check_unique(om_array);  // check omid whether repeat
        for(var i=0;i<=transform_json.length;i++){
          $("#table").addRowData(i+1,transform_json[i]);
        };
            };
            reader.readAsBinaryString(f);
        }
        $('#upload_excel').val('');
    }
  </script>
  {% endblock %}
